
    
  
.home_text >p{

    width: 600px;
    padding: 35px;
    font-size: 22px;
    color: black;
    line-height: 1.5;
    font-family: 'Times New Roman';
    
}
.h1 {

    margin: 25px;
    margin-top: 100%;
    color: #39ddd6;
}

     
      
    